---
title: Home | BuzzHub
---

<main>
  <nav class="nav-top">
    <ul class="list-inline">
      <li><a href="/" class="active"><i class="fa fa-home"></i> Daplgray</a></li>
      <li><a href="#"><i class="fa fa-book"></i> Wiki</a></li>
      <li><a href="#"><i class="fa fa-building-o"></i> Organization</a></li>
      <li><a href="#"><i class="fa fa-cogs"></i> Settings</a></li>
    </ul>
  </nav>
  <h1>Home</h1>

  <section class="dock-nav doc-nav-page">
    <div class="card">
      <div class="card-top">
        <div class="left">
          <p><a href="#" class="active">Site</a></p>
          <p><a href="/home-tasks-index"><i class="fa fa-heartbeat"></i> Tasks </a><span class="badge">3</span></p>
          <p><a href="#">Team</a></p>
        </div>
        <button type="button" name="button"><i class="fa fa-plus"></i><span class="visible-md"> Create</span></button>
      </div>

      <div class="card-body">
        <span class="settings-button"><button class="btn-faded"><i class="fa fa-cog"></i> settings</button></i></span>
        <p><a href="/marketing-site"><i class="fa fa-users"></i> Marketing</a></p>
        <p><a href="/marketing-site"><i class="fa fa-users"></i> Sales</a></p>
        <p><a href="/marketing-site"><i class="fa fa-users"></i> Operations</a></p>
        <p><a href="/marketing-site"><i class="fa fa-users"></i> Biz-Dev</a></p>
        <p><a href="#"><i class="fa fa-file"></i> Help</a></p>
        <p><a href="#"><i class="fa fa-folder-o"></i> Docs</a></p>

      </div>

    </div>
  </section>

  <article class="article card">
    <span class="edit-content"><button class="btn-faded"><i class="fa fa-pencil"></i> edit</button></i></span>
    <h2>What is BuzzHub?</h2>
    <p>BuzzHub is GitHub without the Git.</p>
    <p><%= lorem.paragraphs 2 %></p>
    <h3>Second Part</h3>
    <p><%= lorem.paragraphs 2 %></p>
    <h4>Third Part</h4>
    <ul>
      <li><p><%= lorem.sentence %></p></li>
      <li><p><%= lorem.sentence %></p></li>
      <li><p><%= lorem.sentence %></p></li>
      <li><p><%= lorem.sentence %></p></li>
    </ul>
    <p>This is what a <a href="#">link</a> willl look like</p>
  </article>

</main>
