---
title: Marketing | BuzzHub
---

<main>
  <nav class="nav-top">
    <ul class="list-inline">
      <li><a href="/" class="active"><i class="fa fa-home"></i> Daplgray</a></li>
      <li><a href="/wiki"><i class="fa fa-book"></i> Wiki</a></li>
      <li><a href="#"><i class="fa fa-building-o"></i> Organization</a></li>
      <li><a href="#"><i class="fa fa-cogs"></i> Settings</a></li>
    </ul>
  </nav>
  <h1>Marketing</h1>
  <section class="dock-nav doc-nav-page">
    <div class="card">
      <div class="card-top">
        <div class="left">
          <p><a href="#" class="active">Site</a></p>
          <p><a href="/home-tasks-index"><i class="fa fa-heartbeat"></i> Tasks</a></p>
          <p><a href="#">Team</a></p>
        </div>
        <button type="button" name="button"><i class="fa fa-plus"></i> Create</button>
      </div>

      <div class="card-body">
        <p><a href="/"><i class="fa fa-reply"></i> Back to Home</a></p>
        <p><a href="#"><i class="fa fa-users"></i> Managers</a></p>
        <p><a href="marketing-playbook"><i class="fa fa-file"></i> Playbook</a></p>
        <p><a href="#"><i class="fa fa-folder-o"></i> Docs</a></p>

      </div>

    </div>
  </section>

  <article class="article card">
    <button class="btn-faded edit-content"><i class="fa fa-pencil"></i> edit</button>
    <button class="btn-faded save-content"><i class="fa fa-floppy-o"></i> save</button>
    <h2>What is BuzzHub?</h2>
    <p>BuzzHub is GitHub without the Git.</p>
    <p><%= lorem.paragraphs 2 %></p>
    <h3>Second Part</h3>
    <p><%= lorem.paragraphs 2 %></p>
    <h4>Third Part</h4>
    <ul>
      <li><p><%= lorem.sentence %></p></li>
      <li><p><%= lorem.sentence %></p></li>
      <li><p><%= lorem.sentence %></p></li>
      <li><p><%= lorem.sentence %></p></li>
    </ul>
  </article>

</main>
